<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: html_head}"/>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" th:href="@{/dashboard/css/app.css}">
    <link rel="stylesheet" th:href="@{/dashboard/vendor/feather-icons-web/feather.css}">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css}" 
     integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
     crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" th:href="@{/dashboard/css/style.css}">
    <link rel="stylesheet" th:href="@{/dashboard/css/myStyle.css}">
     <style>
    .swal2-container.swal2-center>.swal2-popup{
width:25em !important;
}
.swal2-title{
padding-top:0px !important;}
.swal2-styled.swal2-confirm{
width:80px !important;
}
    </style>
</head>
<body>
<div th:replace="~{fragments :: userProfileFragment}"></div>
    <section class="container-fluid">
        <div class="row">
            <!-- sidebar start -->
            
           <div th:replace="~{fragments :: html_sidebar}" ></div>
          
            <!-- sidebar end -->
            <div class="col-12  col-lg-9  col-xl-10 vh-100 content ">
                <!-- header start -->
               <div th:replace="~{fragments :: html_header}"></div>
                <!-- header end -->
                <!-- content start -->
                <div class="row">
                    
                     <!-- Modal -->

  <!-- Modal -->
<div class="modal fade mt-5" id="profileSetupModal" tabindex="-1" role="dialog" aria-labelledby="profileSetupModalLable" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"><i class="feather-user text-primary"></i>Profile Setup</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form>
                <div class="row">
                 <div class="col-5">
                     <div class="mb-3"><img
       src="img/user/avatar1.jpg"
       class="img-thumbnail"
       style="width:150px;"
     /></div>
                 <label for="formFileMultiple" class="form-label">Profile Upload</label>
     <input class="form-control" type="file" id="formFileMultiple" multiple />
                </div>
                <div class="col-7">
                 <div class="mb-3">
                     <label for="formFileMultiple" class="form-label">Employee ID</label>
     <input class="form-control" type="text" id="formFileMultiple" />
                 </div>
                 <div class="mb-3">
                     <label for="formFileMultiple" class="form-label">Name</label>
     <input class="form-control" type="text" id="formFileMultiple" />
                 </div>
                 <div class="mb-3">
                     <label for="formFileMultiple" class="form-label">Email</label>
     <input class="form-control" type="email" id="formFileMultiple" />
                 </div>
     
                </div>
                </div>
                 </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary">Update</button>
        </div>
      </div>
    </div>
  </div>
                </div>
                <div class="row ">
                   
                               
                                </div>
                                <div class="row ">
                                    <div class="col-12">
                                        <div class="card mb-4">
                                            <div class="card-body">
                                              <div class="d-flex justify-content-between align-items-center">
                                               <h4 class="mb-0">
                                                   <i class="feather-codepen text-primary"></i>
                                                   Restaurant  Data Update
                                               </h4> 
                                               <button class="btn btn-outline-primary btn-sm full-page-btn"><i class="feather-maximize-2 h4"></i></button>  
                                              </div> 
                                              <hr> 
                                              
                                              
                                              <div class="row my-3">
                                <div class="col-7 m-auto">
                                  
                                  
                                  <!-- modal -->
                                  <div class="card  p-3" style="background-color:#f0f0f0">
                   			
                   				
                                <form id="myform" name="myform" action="/admin/updateRes" onsubmit="validateCosts(event)" th:object="${res}" method="post">
                                   <div class="row">
                                        <div class="mb-3 col-6">
                                            <label for="exampleFormControlInput1" class="form-label"><i class="feather-file-text text-warning"></i>Restaurant Name</label>
                                            <input type="text" class="form-control" th:field="*{name}" name="rname" id="exampleFormControlInput1" required>
                                          </div>
                                          <div class="mb-3 col-6">
                                            <label for="exampleFormControlInput2" class="form-label"><i class="feather-user text-warning"></i>Received Name</label>
                                            <input type="text" class="form-control" th:field="*{receiveBy}" name="name" id="exampleFormControlInput2" required>
                                          </div>
                                          </div>
                                          <div class="row ">
                                          <div class="mb-3 col-6">
                                            <label for="exampleFormControlInput3" class="form-label"><i class="feather-mail text-warning"></i>Email</label>

											<input type="email" class="form-control" th:field="*{email}" name="email" id="exampleFormControlInput3">
                                          </div>
                                          <div class="mb-3 col-6">
                                            <label for="exampleFormControlInput4" class="form-label"><i class="feather-phone-call text-warning"></i>Phone</label>
                                            <input type="text" class="form-control" th:field="*{phone}" name="phone" id="exampleFormControlInput4" required>
                                          </div>
                                          </div>
                                          <div class="mb-3">
                                            <label for="exampleFormControlInput5" class="form-label"><i class="feather-home text-warning"></i>Address</label>
                                            <input type="text" class="form-control" th:field="*{address}" name="address" id="exampleFormControlInput5" required>
                                          </div>
                                          <div class="mb-3">
                                            <label for="exampleFormControlInput5" class="form-label"><i class="fa-solid fa-money-bill text-warning"></i>Cost</label>
                                            <input type="text" class="form-control" th:field="*{totalPrice}" name="cost" id="cost" required>
                                          </div>
                                          <div class="mb-3">
                                            <label for="exampleFormControlInput5" class="form-label"><i class="fa-solid fa-money-bill text-warning"></i>DAT Cost</label>
                                            <input type="text" class="form-control" name="datPrice" th:value="${dat}" id="datPrice" required>
                                          </div>
                                          <div class="mb-3">
                                            <label for="exampleFormControlInput5" class="form-label"><i class="fa-solid fa-money-bill text-warning"></i>Employee Cost</label>
                                            <input type="text" class="form-control" name="empPrice" th:value="${emp}" id="empPrice" required>
                                            <input type="hidden" th:field="*{status}"></input>
                                            <input type="hidden" th:field="*{id}"></input>
                                          </div>
                                          
                                          <div id="errorMessage" class="error-message text-warning"></div>
                                          
                                     <div class="float-right" >
                                      <a href="/admin/resList" class="btn btn-secondary" >Cancel</a>
                                      <input class="btn btn-primary myRestaurantUpdate" type="submit" value="Update"></input></div>

                                    </form>
                                    </div>
                                    </div>
                            </div>  
                                              
                                             
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                       
                    </div>
                  
            </div>
        </div>
    </section>


<div th:replace="~{fragments :: html_script}"/></div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    $('table').ready(function() {
    $('#example').DataTable();
} );

function validateCosts(event) {
	
  var totalCost = parseFloat(document.getElementById("cost").value);
  var companyCost = parseFloat(document.getElementById("datPrice").value);
  var employeeCost = parseFloat(document.getElementById("empPrice").value);
  var sum = companyCost + employeeCost;
  if (sum !== totalCost) {
    document.getElementById("errorMessage").innerHTML = "The sum of Company Cost and Employee Cost must be equal to Total Cost.";
    event.preventDefault();
  } else {
    document.getElementById("errorMessage").innerHTML = "";
  }
}
document.getElementById("cost").addEventListener("input", validateCosts);
document.getElementById("datPrice").addEventListener("input", validateCosts);
document.getElementById("empPrice").addEventListener("input", validateCosts);

$("#myform").validate({
   rules:{
    rname:{
        minlength: 2,
        maxlength:50
    },
    name:{
        minlength:2,
        maxlength:100
    },
    email:{
        email:true,
        minlength:2
    },
    
        phone:{
            maxlength:11,
            phoneOnly: true 
        },
        address:{
            minlength:2,
            maxlength:100
        },
        cost:{
        	 minlength:2,
             maxlength:100
        },
        datPrice:{
        	 minlength:2,
             maxlength:100
        },
        empPrice:{
       	 minlength:2,
            maxlength:100
       },
        
    },
    

  
  
  messages: {
    rname:{
    required: "Please enter your restaurant name",
    minlength: "Restaurant name at least 2 character",
    maxlength:"Restaurant name at most 100 character"
  },
  name:{
    required: "Please enter your name",
    minlength: "Restaurant name at least 2 character",
    maxlength:"Restaurant name at most 100 character"
  },
  email:{
    required: "Please enter your email",
    minlength: "Restaurant name at least 2 character",
  },
phone:{
    required: "Please enter your phone",
    maxlength: "Phone number at most 11 character",
    phoneOnly: "Phone number should only contain digits",
  },
  address:{
    required: "Please enter your address",
    minlength: "Restaurant name at least 2 character",
    maxlength:"Restaurant name at most 100 character"
  },
  cost:{
	  required: "Please enter restaurant cost",
	    minlength: "Restaurant cost  at least 2 character",
	    maxlength:"Restaurant cost at most 100 character"
  },
  datPrice:{
	  required: "Please enter DAT cost",
	    minlength: "DAT cost  at least 2 character",
	    maxlength:"DAT cost at most 100 character"
  },
  empPrice:{
	  required: "Please enter employee cost",
	    minlength: "DAT cost  at least 2 character",
	    maxlength:"DAT cost at most 100 character"
  },
  
  

  submitHandler:function(form){
  form.submit();
  }

}
});

//Custom rule for phone value
$.validator.addMethod("phoneOnly", function(value, element) {
    return this.optional(element) || /^\d+$/.test(value);
}, "Phone number should only contain digits.");
        
 
        
</script>

</body>
</html>