<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: html_head}"/>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" th:href="@{/dashboard/css/app.css}">
    <link rel="stylesheet" th:href="@{/dashboard/vendor/feather-icons-web/feather.css}">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css}" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" th:href="@{/dashboard/css/style.css}">
    <link rel="stylesheet" th:href="@{/dashboard/css/myStyle.css}">
    <style>
     .dataTables_length{
    width:200px;}
    .dataTables_length label{
    display:flex;
    }
    #example_filter label{
    display:flex;}
      .swal2-container.swal2-center>.swal2-popup{
width:25em !important;
}
.swal2-title{
padding-top:0px !important;}
.swal2-styled.swal2-confirm{
width:80px !important;
}
    </style>
</head>
<body>
<div th:replace="~{fragments :: userProfileFragment}"></div>
    <section class="container-fluid">
        <div class="row">
            <!-- sidebar start -->
            
           <div th:replace="~{fragments :: html_sidebar}" ></div>
          
            <!-- sidebar end -->
            <div class="col-12  col-lg-9  col-xl-10 vh-100 content ">
                <!-- header start -->
               <div th:replace="~{fragments :: html_header}"></div>
                <!-- header end -->
                <!-- content start -->
                <div class="row">
  <!-- Modal -->
<div class="modal fade mt-5" id="profileSetupModal" tabindex="-1" role="dialog" aria-labelledby="profileSetupModalLable" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"><i class="feather-user text-primary"></i>Profile Setup</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form method="post" action="/admin/profile" enctype='multipart/form-data' onsubmit ="return validate()">
                <div class="row">
                
                 <div class="col-5">
                     <div class="mb-3"><img
       th:src="@{/images/__${session.photo}__}"
       class="img-thumbnail"
       style="width:150px;"
     /></div>
                 <label for="formFileMultiple" class="form-label"> Profile Upload</label>
     <input class="form-control" type="file" id="formFileMultiple" name="propic" multiple />
                </div>
                <div class="col-7">
                <div th:text="${success}" style="color:green;"></div>
                <div th:text="${ErrorOnPsw}" style="color:red;"></div>
                 <div class="mb-3">
                     <label for="formFileMultiple" class="form-label">Employee ID</label>
     <input class="form-control" type="text" id="formFileMultiple" name="sid" th:value="${session.staffid}" readonly/>
                 </div>
                 <div class="mb-3">
                     <label for="formFileMultiple" class="form-label">Name</label>
     <input class="form-control" type="text" id="formFileMultiple" name="name" th:value="${session.name}" />
                 </div>
                 <div class="mb-3">
                     <label for="formFileMultiple" class="form-label">Old Password</label>
     <input class="form-control" type="password" id="formFileMultiple" name="opsw"/>
                 </div>
                 <div class="mb-3">
                     <label for="formFileMultiple" class="form-label">New Password</label>
     <input class="form-control" type="password" id="password1" name="npsw" />
     <div class="error-msg" style="color:red;"></div>
                 </div>
                  <div class="mb-3">
                  <label for="formFileMultiple" class="form-label">Confirm New Password</label>
     <input class="form-control" type="password" id="password2" />
     <div class="error-msg" style="color:red;"></div>
                 </div>
     
          </div>
                </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="submit" id="mybtn" class="btn btn-primary">Update</button>
        </div>
        </form>
        </div>
      </div>
    </div>
  </div>
                </div>
                                <div class="row ">
                                    <div class="col-12">
                                        <div class="card mb-4">
                                            <div class="card-body">
                                              <div class="d-flex justify-content-between align-items-center">
                                               <h4 class="mb-0">
                                                   <i class="feather-codepen text-primary"></i>
                                                   Restaurant List
                                               </h4> 
                                               <button class="btn btn-outline-primary btn-sm full-page-btn"><i class="feather-maximize-2 h4"></i></button>  
                                              </div> 
                                              <hr> 
                                              
                                              <table id="example" class="table table-striped ">
                                                          
                                                <thead class="bg-primary text-white">
                                              
                                                    <tr >
                                                        <th>No</th>
                                                        <th>Name</th>
                                                        <th>Address</th>
                                                        <th>Phone</th>
                                                        <th>Email</th>
                                                        <th>Per Price</th>
                                                        <th>status</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr  th:each="ml, index : ${resList}" th:with="rowIndex=${index.index+1}">
                                                        <td th:text="${rowIndex}"></td>
                                                        <td th:text="${ml.name}"></td>
                                                        <td th:text="${ml.address}"></td>
                                                        <td th:text="${ml.phone}"></td>
                                                        <td th:text="${ml.email !=''?ml.email:'-'}"></td>
                                                        <td th:text="${ml.totalPrice}"></td>
                                                        <td><a th:class="${ml.status == 'Active'? 'badge badge-success' : 'badge badge-danger'}" th:href="@{/admin/setStatus/{id}/{status}(id=${ml.id}, status=${ml.status})}" 
                                                        	th:text="${ml.status}"></a></td>
                                                       
                                                        <td>
                                                        <span class="d-flex" th:if="${ml.status == 'Active'}">  <a th:href="@{/admin/resDel/{id}(id=${ml.id})}" class="text-decoration-none"><i class="feather-edit text-warning fs-5"></i></a>
                                                          </span>
                                                      </td>
                                                       
                                                    </tr>
                                                </tbody>
                                                
                                            </table>    
                                              
                                             
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                       
                    </div>
                  
            </div>
        </div>
    </section>


<div th:replace="~{fragments :: html_script}"/></div>
<script th:inline="javascript">
     $('table').ready(function() {
    $('#example').DataTable({
    	
    });
    
} );
    
    
    
 
     function validate() {
    	    var password1 = document.getElementById("password1").value;
    	    var password2 = document.getElementById('password2').value;
    	    if(password1 != password2) {
    	        $(".error-msg").html("Password do not match!").show(); 
    	        return false;
    	    }
    	    else {
    	        $(".error-msg").html("").hide(); 
    	        return true;
    	    }
    	}
     var message = /*[[${message}]]*/ null;
     console.log("hdf",message);
     if (message) {

     	Swal.fire({
     		text : message,
     		icon : 'success',
     		confirmButtonColor : '#ff1f5a',
     		confirmButtonText : 'OK'
     	});
     }

</script>

</body>
</html>